# Copia este archivo como .env y ajusta los valores

# Emulador Android: API_BASE_URL=http://10.0.2.2:8080/api
# Teléfono físico:  API_BASE_URL=http://<IP-LOCAL-DE-TU-PC>:8080/api
API_BASE_URL=http://10.0.2.2:8080/api

# Emulador Android: CHAT_SOCKET_URL=http://10.0.2.2:3001
# Teléfono físico:  CHAT_SOCKET_URL=http://<IP-LOCAL-DE-TU-PC>:3001
CHAT_SOCKET_URL=http://10.0.2.2:3001
